*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    
}
body{
    
    background-image: linear-gradient(
        0deg,
        rgba(247, 247, 247, 1) 23.8%,
        rgb(214, 242, 247) 92%
      );
    min-height: 100vh;
}

li, a , button{
    font-family: "Montserrat",sans-serif;
    font-weight:500;
    font-size:16px;
    color: #edf0f1;
    text-decoration: none;
}
header{
    border-bottom-left-radius: 40px ;
     
    display:flex;
    justify-content: flex-end;
    align-items: center;
    padding: 15px 10%;
    background-color: #24252A;

}
.logo{
    cursor: pointer;
    margin-right: auto;
}

.nav__links{
    list-style: none;

}
.nav__links li{
    display: inline-block;
    padding: 0px 20px;
}
.nav__links li a{
    transition: all 0.3s ease 0s;
}
.nav__links li a:hover{
    color: #0088a9
}
button{
    margin-left: 20px;
    padding:9px 25px;
    background-color: rgba(0,136 , 169,1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}


button:hover{
    background-color: rgba(0,136 , 169,0.7);
}